# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Pull Request

on:
  pull_request:
    branches: [ "master" ]

jobs:
  tests:
    name: Unit testing
    runs-on: ubuntu-latest


    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      env:
        FORCE_COLOR: 0
      with:
        node-version: '14.17.0'

    - run: npm install
    - run: npm run test
